.background {
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: center/cover no-repeat;
  background-image: url('./assets/Images/Mountains.png');
}

@media (max-width: 480px) {
  .background {
    margin-bottom: 200px;
  }
}
