.background {
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: center/cover no-repeat;
  background-image: url('./assets/Images/Mountains.jpeg');
}
