
@tailwind base;
@tailwind components;
@tailwind utilities;

.Home{
  height: 100vh;
  background: url('./assets/mtns-at-night.jpeg') no-repeat center/cover;
}
.Home .overlay{
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
}


.Projects{
  background: url('./assets/mtns-at-night.jpeg') no-repeat center/cover;
}

.Projects .overlay{
  background-color: rgba(0,0,0,0.8);
}

.About{
  /* height: 100vh; */
  background: url('./assets/mtns-at-night.jpeg') no-repeat center/cover;
  /* background-color: rgba(0,0,0,0.8); */
}

.About .overlay{
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
}

.Resume{
  /* height: 100vh; */
  background: url('./assets/mtns-at-night.jpeg') no-repeat center/cover;
}

.Resume .overlay{
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
}



.project-card {
  @apply flex flex-col justify-center items-center bg-white h-screen font-mono py-40
}

.center-content {
  @apply flex flex-col justify-center items-center
}